.contact_img{
  background-size: cover;
  background-position: center;
  height:640px;
  border: 1px solid #DADCE3;
  background-image: url('./Contact.png');
}
.ContactForm {
    padding: 1.5rem 1rem;
    max-width: 600px; /* Adjusted width */
    margin: 0 auto;
    padding-bottom: 4rem; 
    height: 420px;   
    border: 2px solid #0f7c6c;
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    border-radius: 8px; /* Adjust border radius as needed */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
  }
  .contactForm {
    background: rgba(255, 255, 255, 0.9);
    border-radius: 8px;
    padding: 2rem;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: 2px solid #f9ede7;
    height: 370px; 
  }
  .contact_1{ 
    padding-top: 30px;
  }
  
  .formRow {
    margin-bottom: 1rem;
  }
  
  .formInput {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    transition: border-color 0.3s;
    font-size: 1rem;
    color: #333;
  }
  
  .formInput:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.25); /* Focus shadow */
  }
  
  .errorMessage {
    color: #ff0000;
    font-size: 0.875rem;
    margin-top: 0.5rem;
  }
  
  .submit-btn {
    background-color: #0f7c6c;
    color: #f9ede7;
    border: none;
    padding: 0.75rem 1.5rem;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s; /* Added transform transition */
    font-size: 1rem;
    font-family: inter, sans-serif;
    font-weight: light;
    border-radius: 30px;
  }
  
  .submit-btn:hover {
    /* background-color: #0056b3; */
    transform: translateY(-2px); /* Button lift effect */
  }
  
  .submit-btn:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
  }
  
  .alert {
    position: relative;
    padding: 1rem;
    margin-top: 1.5rem;
    border: 1px solid transparent;
    border-radius: 4px;
  }
  
  .alert-success {
    color: #155724;
    background-color: #d4edda;
    border-color: #c3e6cb;
  }
  
  .alert-danger {
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
  }
  
  .btn-close {
    position: absolute;
    top: 0.75rem;
    right: 1rem;
    background: none;
    border: none;
    font-size: 1.25rem;
    color: #000;
    cursor: pointer;
   
  }
  
  @media (max-width: 768px) {
    .ContactForm {
      padding: 1rem;
    }
  
    .contactForm {
      padding: 1.5rem;
    }
  
    .formInput {
      padding: 0.5rem;
      font-size: 0.9rem;
    }
  
    .submit-btn {
      padding: 0.5rem 1rem;
      font-size: 0.9rem;
    }
  }
  .contact_1{
   text-align: center;
   margin-top: 1rem;
   padding-bottom: 30px;
   margin-bottom: 0px;
  }
  #contact-form{
    height: 330px;
  } 
